.header {
  position: relative;
  left: 0;
  right: 0;
  padding: 0 50px;
  height: $header-height;
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-items: end;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav {
  height: 100%;
  display: grid;
  text-transform: uppercase;

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    position: relative;
    display: flex;
    line-height: $header-height;
  }

  &__item ~ &__item {
    margin-left: 20px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    transition: color 400ms ease;

    &--active,
    &:hover {
      color: $hover-link-color;
    }

    @mixin activeLink {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      height: 4px;
      border-radius: 8px;
    }

    &::after {
      @include activeLink();
      background-color: transparent;
      transition: background-color 400ms ease;
    }

    &--active::after {
      @include activeLink();
      background-color: $hover-link-color;
    }

    &:active::after {
      background-color: $hover-link-color;
    }
  }
}

.logo-icon {
  @include logo-square($logo-size);
}
