.product-page__content {
  margin-top: 50px;
}

.product-list {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &__content {
    max-width: 944px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 50px;
  }
}
